.svg{
    position: absolute;
    right: 3%;
    top: 17%;
    width: 420px;
    height: 420px;
    border-width: thick;
    border-style: double;
    border-color: #fffbff;
    border-radius: 50px;
    padding: 0.4%;
    box-shadow: 0 4px 16px #ccc;
}
#pointer {
    transition: all 1s;
}
svg > .figure:hover {
    fill: rgb(255, 168, 147);
}